.section-header {
    text-align: center;
    position: relative;
}

.section-header h3 {
    font-weight: 600;
}


.section-header span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.05;
    transform: translate(-50%, -50%);
    color: var(--color1);
}

